.usersPage {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.container {
  overflow-y: hidden;
  height: 80%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 2rem;
}

.userInfo {
  background-color: var(--dark-2);
  border-radius: 1rem;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userInfo p {
  margin-top: 0.4rem;
  color: var(--accent-1);
  cursor: pointer;
}

.userInfo p:hover {
  color: white;
}

.userImage {
  margin-top: 2rem;
  position: relative;
  border-radius: 50%;
}

.partLists {
  position: relative;
  display: flex;
  margin-left: 2rem;
  flex-grow: 0.6;
  background-color: var(--dark-2);
  border-radius: 1rem;
  margin-right: 2rem;
}

.partLists.noLists {
  align-items: center;
  justify-content: center;
}

.userSummary {
  position: relative;
  margin-left: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.1;
}

.userName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 0.7rem;
}

.userNameText {
  margin-top: 0;
  margin-bottom: 0.3rem;
  width: 100%;
  font-size: max(2vw, 1.5rem);
  color: white;
  font-weight: bold;
}

.badges {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

.badge {
  color: var(--accent-1);
  font-size: 1.7rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  user-select: none;
}

.badge:focus {
  outline: none;
}

.userStats {
  margin-top: 2rem;
  height: 30%;
  width: 100%;
  flex-grow: 1;
  background-color: var(--dark-2);
  border-radius: 1rem;
}

.stat {
  margin-left: 2rem;
}

.stat span {
  color: var(--accent-1);
}

.statValue {
  color: var(--accent-1);
}

@media screen and (max-width: 1000px) {
  .container {
    all: unset;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    width: 100vw;
    margin-bottom: 1rem;
  }

  .userSummary {
    margin: 0;
    width: 90% !important;
    height: unset;
  }

  .userStats {
    margin-top: 1rem;
  }

  .partLists.noLists h2 {
    text-align: center;
    font-size: 1.25rem;
    margin: 0 1rem 0 1rem;
  }

  .partLists {
    all: unset;
    background-color: var(--dark-2);
    border-radius: 1rem;
    height: 20rem;
    width: 90%;
    margin-top: 1rem;
  }
}
