.navbar {
  height: 5rem;
  background-color: var(--dark-3);
  display: flex;
  align-items: center;
  z-index: 10;
  width: 100%;
}

.navbar > * {
  z-index: 10;
}

.navLinks {
  display: flex;
}

.navLink {
  padding-left: 1.5rem;
  display: inline;
  cursor: pointer;
}

.navLink a {
  text-decoration: none;
  color: var(--dark-5);
  z-index: 9;
  transition: color 0.2s;
}

.navLink a:hover {
  color: white;
}

.toggle {
  color: var(--accent-1);
  display: none;
}

.userBox {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
}

.userBox img {
  border-radius: 100%;
}

.userBox h3 {
  margin-left: 0.5rem;
}

@media screen and (max-width: 960px) {
  .navbar {
    align-items: center;
    justify-content: space-between;
  }

  .logo > h1 {
    display: none;
  }

  .logo {
    margin-left: 1.8rem !important;
    padding: 0;
  }

  .logo > div > * {
    padding: 0 !important;
  }

  .toggle {
    display: inline;
    font-size: 1.4rem;
    cursor: pointer;
    margin-left: 1rem;
  }

  .navLinks {
    display: table;
    width: 100%;
    position: absolute;
    top: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 0;
  }

  .navLinks.active {
    top: 80px;
    background: var(--dark-3);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 0;
  }

  .navLink {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 5rem;
    -webkit-tap-highlight-color: transparent;
  }

  .navLink a {
    padding-top: 3.5rem;
    width: 100%;
    height: 100%;
  }

  .userToggle {
    margin-left: 0 !important;
  }
}
