.navbarDropdown {
  margin-left: auto;
  margin-right: 0.5rem;
}

.expandIcon {
  color: white;
  font-size: 1.25rem;
}

.userBox {
  display: flex;
  align-items: center;
}

.userBox .userImage {
  transition: box-shadow 0.3s;
}

.userBox:hover .expandIcon {
  color: var(--accent-1);
}

.userBox:hover .userImage {
  box-shadow: 0px 0px 10px var(--accent-1);
}

.userImage {
  font-size: 3rem;
  color: var(--accent-1);
  background-color: var(--dark-2);
}

.userBox .userImage {
  border-radius: 50%;
  margin-right: 0.25rem;
}

.userDropdown {
  margin-top: 0.5rem;
  background-color: var(--dark-2);
  list-style-type: none;
  position: absolute;
  display: none;
  border-radius: 1rem;
  transform: translateX(-70%);
  -ms-transform: translateX(-70%);
  -webkit-transform: translateX(-70%);
}

.userDropdown a {
  font-size: 0.9rem;
  text-decoration: none;
  padding-left: 1rem;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  color: white;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  transition: background-color 0.2s;
}

.userDropdown a:hover {
  background-color: var(--accent-1);
  color: white;
}

.shown {
  display: inline;
}

.divider {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-width: 1px;
  border-color: var(--accent-1);
  width: 85%;
}

.userName {
  font-size: 1.1rem;
  overflow: hidden;
  color: var(--accent-1);
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
