:root {
  /* Colours */
  --dark-1: #121212;
  --dark-2: #181818;
  --dark-3: #242424;
  --dark-4: #333333;
  --dark-5: #8a8a8a;
  --accent-1: #14d18c;
  --accent-2: #10a36e;
}

* {
  font-family: "Roboto Mono", "Tahoma", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: white;
}

body {
  background-color: var(--dark-1);
  margin: 0;
}

html, body {
  position: relative;
  overflow: auto;
  height: 100%;
}

a:hover {
  color: white;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#pageContent {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: var(--accent-2);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover { 
  background-color: var(--accent-1);
}

@media screen and (max-width: 960px) {
  ::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }
}
